@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');
body,html{
  margin:0;
  padding:0;
  overflow:hidden;
  color:#494949;
}

body{
  font-family:"Raleway","sans-serif";
  height:100vh;
  
}
#container{

 height:10vh;
  display:flex;
  align-items:center;
  justify-content:space-evenly;

}
#input-container{
  border:0.5px solid #494949;
  border-radius:10px;
  padding:10px;
}
p{
  margin:5px;
  text-align:center
}


/* change input button circle color */

 input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #494949;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }
