<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>genre.search</title>
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>
    <h1>genre.search</h1>
    <section>
      <p>
        Enter a genre (or a list of genres seperated by a comma) to get artists
        in that genre
      </p>
      <input type="text" />
      <div class="artist-list">
        <div class="artist-box">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Crystal_Castles_live_in_Oslo%2C_2010_L1020329_%284796879783%29.jpg/525px-Crystal_Castles_live_in_Oslo%2C_2010_L1020329_%284796879783%29.jpg"
          />
          <div class="artist-info">
            <h2 class="artist-title">Crystal Castles</h2>
            <h3 class="artist-genre">
              electropunk, electroclash, synth pop, witch house, nintendocore
            </h3>
            <p class="artist-description">
              Crystal Castles was a Canadian electronic music group formed in
              2006 in Toronto, Ontario, formed by songwriter-producer Ethan Kath
              and singer-songwriter Alice Glass, who later left and was replaced
              by Edith Frances. Crystal Castles were known for their chaotic
              live shows and lo-fi melancholic homemade productions. They
              released many limited vinyl singles between 2006 and 2007 before
              releasing four studio albums between 2008 and 2016.
            </p>
            <a href="/Crystal%20Castles">Learn More</a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
